<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Date & time formats cheatsheet</title>
  <link href="s/main.css" rel="stylesheet" />
  <script src="s/main.js"></script>
</head>

<body onload="start()">
  <div class="breadcrumbs"><a href="/">Home</a> / <a href="index.html">cheatsheets</a> / Date & time formats cheatsheet</div>
  <div class="edit">
      <a href="https://github.com/kjk/blog/blob/master/www/cheatsheets/devhints/datetime.md" >edit</a>
  </div>
  <div class="toc">
<a href="#common-time-formats">Common time formats</a><br></div>


  <div id="start"></div>
  <div id="wrapped-content"></div>
<div id="content">
<h2 id="common-time-formats">Common time formats</h2>

<ul>
<li><a href="./strftime">UNIX strftime</a> - Used by Ruby, <code>date</code>, and more</li>
<li><a href="./moment#formatting">Moment.js</a> - Used by Moment.js, date-fns, and more</li>
</ul>
<p>{% include common/strftime_format.md title=&quot;strftime format&quot; %}</p>
<p>{% include common/moment_format.md title=&quot;Moment.js format&quot; %}</p>

</div>
</body>  
</html>